.navbar{
    background-color: rgb(62, 62, 63);
}

.texto{
padding-top: 15rem;
padding-right: 8rem;

}
.bs{
padding-right: 8rem;
}

.row{
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
ul{
    font-size: 1.350rem;
    align-items: flex-end;
}

#tp{
    font-size: 1.36rem;
}
p.card-text{
 font-size: 0.9rem;
}

#pesp{
    font-size: 0.97rem;
}
.txthn{
    padding-top: 1.5rem;
    padding-left: 0.5rem;
}