.navbar{
    background-color: rgb(62, 62, 63);
}

.texto{
padding-top: 15rem;
padding-right: 13rem;

}
.bs{
padding-right: 13rem;
}

.row{
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

ul{
    font-size: 1.3rem;
    align-items: flex-end;
}
h1{
    /*font: size 1.3rem;*/    
}
#tp{
    font-size: 1.5rem;
}
p{
 font-size: 0.9rem;
}
h6{
    margin-top: 10rem;
}